<!DOCTYPE HTML>
<html>
	<head>
		<script src="/media/js/jquery-1.9.1.min.js"></script>
		<script src="/media/bootstrap/js/bootstrap.js"></script>
		<link rel="stylesheet" type="text/css" href="/media/css/style.css" />
		<link rel="stylesheet" href="/media/bootstrap/css/bootstrap.css">

		{% block css 	 %}		{% endblock css 	%}
		{% block scripts %} 	{% endblock scripts %}
	</head>
	<body >
		<header class="header">
			<div class="logo">
				
			</div>
			{% if user.is_authenticated %}
			<nav >
				<ul class="nav pull-right">
					<li><a href="/home">{{user.username}}</a></li>
					<li><a href="/logout">Cerrar Sesion</a></li>
				</ul>
			</nav>
			{% endif %}
		</header>
		<section class="container-fluid" style="padding-top:25px;">
			<div class="row-fluid">
			{% block contenido %}
			{% endblock contenido %}
			</div>
		</section>
		<footer class="footer">
			<h4 >&copy DFHS Group</h4>
		</footer>
	</body>
</html>