{% extends "base.html" %}
{% block scripts %}
    <script src="/media/js/cufon-yui.js" type="text/javascript"></script>
    <script src="/media/js/ChunkFive_400.font.js" type="text/javascript"></script>
    <script type="text/javascript">
        Cufon.replace('h1',{ textShadow: '1px 1px #fff'});
        Cufon.replace('h2',{ textShadow: '1px 1px #fff'});
        Cufon.replace('h3',{ textShadow: '1px 1px #000'});
        Cufon.replace('.back');
    </script>
{% endblock scripts %}
{% block contenido %}
<section class="span6">
    <h1>Cinkeate</h1>
    <h2>Busca, sube y comparte <span>Parciales</span> en un solo lugar</h2>
</section>
<section class="span6">
    <div class="wrapper">
        
    <section class="content">
        <div id="form_wrapper" class="form_wrapper">
            <form class="register" method="POST" action="/registro/">
                {% csrf_token %}
                <fieldset>      
                    <h3>Registro</h3>
                    <div class="column">
                        <div>
                            <label>Nombre:</label>
                            <input type="text" name="nombre" required/>
                            <span class="error" >This is an error</span>
                        </div>
                        <div>
                            <label>Apellido:</label>
                            <input type="text" name="apellido" required/>
                            <span class="error">This is an error</span>
                        </div>
                        <div>
                            <label>Email:</label>
                            <input type="email" placeholder="ejemplo@mail.com" name="email" required/>
                            <span class="error">This is an error</span>
                        </div>
                    </div>
                    <div class="column">
                        <div>
                            <label>Username:</label>
                            <input type="text" name="username" required/>
                            <span class="error">This is an error</span>
                        </div>
                        <div>
                            <label>Contraseña:</label>
                            <input type="password" name="pass" required/>
                            <span class="error">This is an error</span>
                        </div>
                        <div>
                            <label>Confirma Contraseña:</label>
                            <input type="password" name="pass2" required/>
                            <span class="error">This is an error</span>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="remember">
                            <a href="index.html" rel="login" class="linkform">Ya estás registrado? Inicia Sesión</a>
                        </div>
                        <input type="submit" value="Register" />
                        <div class="clear"></div>
                    </div>
                </fieldset>
            </form>
            <form class="login active" method="POST" action="/login/" name="login">
                {% csrf_token %}
                <fieldset>                 
                    <h3>Inicio de Sesion</h3>
                    <div>
                        <label>Username o Email:</label>
                        <input type="text" name="username" required/>
                        <span class="error" id="username">Usario invalido</span>
                    </div>
                    <div>
                        <label>Contraseña:</label>
                        <input type="password" required name="password" />
                        <span class="error" id="password">Contrasena Invalida</span>
                        <a href="forgot_password.html" rel="forgot_password" class="forgot linkform"style="margin-right:30px">Olvidaste tu contraseña?</a>
                    </div>
                    <div class="bottom">
                        <div class="remember"><input type="checkbox" /><span>Recordarme</span></div>
                        <input type="submit" value="Login" name="login"/>
                        <a href="register.html" rel="register" class="linkform">No tienes cuenta? Regístrate aquí</a>
                        <div class="clear"></div>
                    </div>
                    {% if loginFailed %}
                        <script>
                           document.getElementById('username').style.visibility = "visible";
                            document.getElementById('password').style.visibility = "visible";
                        </script>
                    {% endif %}
                </fieldset>
            </form>
            <form class="forgot_password" action="/" method="POST" name="lost">
                <fieldset>
                    <h3>Password Perdida</h3>
                    <div>
                        <label>Email:</label>
                        <input type="email" required />
                        <span class="error">This is an error</span>
                    </div>
                    <div class="bottom">
                        <input type="submit" value="Send reminder" name="lost"/>
                        <a href="index.html" rel="login" class="linkform">La recordaste ya? Inicia Sesión</a>
                        <a href="register.html" rel="register" class="linkform">No tienes cuenta? Registrate aquí</a>
                        <div class="clear"></div>
                    </div>
                    
                </fieldset>
            </form>
            <div class="clear"></div>
        </section>
    </div>      
    </div>
</section>
<script type="text/javascript">
    $(function() {
            //the form wrapper (includes all forms)
        var $form_wrapper   = $('#form_wrapper'),
            //the current form is the one with class active
            $currentForm    = $form_wrapper.children('form.active'),
            //the change form links
            $linkform       = $form_wrapper.find('.linkform');
                
        //get width and height of each form and store them for later                        
        $form_wrapper.children('form').each(function(i){
            var $theForm    = $(this);
            //solve the inline display none problem when using fadeIn fadeOut
            if(!$theForm.hasClass('active'))
                $theForm.hide();
            $theForm.data({
                width   : $theForm.width(),
                height  : $theForm.height()
            });
        });
        
        //set width and height of wrapper (same of current form)
        setWrapperWidth();
        
        /*
        clicking a link (change form event) in the form
        makes the current form hide.
        The wrapper animates its width and height to the 
        width and height of the new current form.
        After the animation, the new form is shown
        */
        $linkform.bind('click',function(e){
            var $link   = $(this);
            var target  = $link.attr('rel');
            $currentForm.fadeOut(400,function(){
                //remove class active from current form
                $currentForm.removeClass('active');
                //new current form
                $currentForm= $form_wrapper.children('form.'+target);
                //animate the wrapper
                $form_wrapper.stop()
                             .animate({
                                width   : $currentForm.data('width') + 'px',
                                height  : $currentForm.data('height') + 'px'
                             },500,function(){
                                //new form gets class active
                                $currentForm.addClass('active');
                                //show the new form
                                $currentForm.fadeIn(400);
                             });
            });
            e.preventDefault();
        });
        
        function setWrapperWidth(){
            $form_wrapper.css({
                width   : $currentForm.data('width') + 'px',
                height  : $currentForm.data('height') + 'px'
            });
        }
        
    });
</script>            		
{% endblock contenido %}